<body>
    <!--NOT WORKING
        <header id="background">
        <img src="assets/images/backgroundimg.jpg" alt="Crismas Ornaments">
    </header>
    -->

    <dev id="btn-box">
        <button id="btn" onclick="window.location.reload()">Start Game!</button>
        <button id="menu-but" onclick="openMenu()">Back Home</button>
            <div>
                <!--Menu set up-->
                <div id="menu" class="menu-btn">
                    <a href="#info" target="_blank" rel="noopener" aria-label="How to play the game (opens a window)">Info</a>
                    <div id="info">
                            <h2>Game Inspiration</h2>
                            <p>The game is inspired by festive season spirit. All the questions are based on the <strong>Chrismas</strong> and everything that has to do with the <strong>festive holiday</strong>.</p>
                            <h2>How to play the game?</h2>
                            <p>
                                <ul>
                                <li>
                                    When the player press start, game intructions appears.
                                </li>
                                <li>
                                    After, the user is requested to inputs their name and the name is verified with requirements of more than 3 letters and number combination.
                                </li>
                                <li>
                                    The user will go throught this loop until they fully meet the requirements.
                                </li>
                                <li>
                                    When the requirements has been been met, the would be a welcome message.
                                </li>
                                <li> 
                                    The first questio would appear.
                                </li>
                                <li>
                                    It is a total 20 questions with fun facts appearing before each question.
                                </li>
                                <li>
                                    Fun facts are based on information about Chrismas.
                                </li>
                                <li>
                                     When the user choose an option answer for the question, the answer would be verified.
                                    </li>
                                <li>
                                    The user is given 3 guesses thoughout the game to use, when they run out, there would be no more and the next question would automatically be appear without providing a second try.
                                </li>
                                <li>
                                    For every correct answer the user user would get 1 point each.
                                </li>
                                <li>
                                    At the end of 20 questions, the user name and score would be added on google sheets.
                                </li>
                                <li>
                                    The final score would be displayed together with previous player and raked according to the score and time to complete the game.
                                </li>
                                </ul>
                            </p>
                            <h2>Tips!</h2>
                            <p>
                                The player has to answer 20 questions by choosing one answer from an option of e options. The player is given 3 guesses throughout the whole game. The are fun facts about Chrismas thoughout the game, presented before each question and some provide hints for upcoming questions.
                            </p>
                            <div>
                                <button onclick="openMenu()">
                                    <a href="#menu-btn" target="_blank" rel="noopener" aria-label="Leads back to the menu window (opens a window)">Back home</a>
                                </button>
                                <button onclick="()">
                                    <a href="#terminal" target="_blank" rel="noopener" aria-label="Leads to the game window (opens a window)">Game</a>
                                </button>   
                            </div>
                    </div>
                </div>
                
                <div>
                    <a href="#terminal" target="_blank" rel="noopener" aria-label="Leads to the game window (opens a window)">Game</a>
                </div>

                <div>
                    <form>
                        <fieldset>
                            <legend>Contact us here</legend>
                            <label for="fname">First name:</label><br>
                            <input type="text" id="fname" name="fname" value="John"><br>
                            <label for="lname">Last name:</label><br>
                            <input type="text" id="lname" name="lname" value="Smith"><br>
                            <label for="message">Message:</label><br>
                            <textarea type="text" id="message" name="message" spellcheck="true" rows="5" cols="21" placeholder="Write your feedback..."></textarea><br><br>
                            <input type="submit" value="Submit" onclick="thankfunc()">
                        </fieldset>
                    </form>
                    <button onclick="openMenu()">
                        <a href="#menu-btn" target="_blank" rel="noopener" aria-label="Leads back to the menu window (opens a window)">Back home</a>
                    </button>
                </div>

                <div id="thankfunc">
                    <h2>Thank you for your feedback!</h2>

                    <button onclick="openMenu()">
                        <a href="#menu-btn" target="_blank" rel="noopener" aria-label="Leads back to the menu window (opens a window)">Back home</a>
                    </button>
                </div>
            </div>
    </dev>
    <div ></div>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>