<body>
    <!--Menu Buttons-->
    <div id="menuButtons" class="menu-box">

        <!--info button-->
        <div id="infoBtn" role="button" class="menu-btn" onclick="openInfo()">Info</div>

            <!--Info window-->
            <div id="info" class="btn-container">
                <h2 class="heading">Game Inspiration</h2>
                    <p>
                        The game is inspired by festive season spirit. All the questions are based on the <strong>Chrismas</strong> and everything that has to do with the <strong>festive holiday</strong>.
                    </p>
                        
                <h2 class="heading">How to play the game?</h2>
                    <ul>
                        <li>
                            When the player press start, game intructions appears.
                        </li>
                        <li>
                            After, the user is requested to inputs their name and the name is verified with requirements of more than 3 letters
                            and number combination.
                        </li>
                        <li>
                                The user will go throught this loop until they fully meet the requirements.
                        </li>
                        <li>
                            When the requirements has been been met, the would be a welcome message.
                        </li>
                        <li>
                            The first questio would appear.
                        </li>
                        <li>
                            It is a total 20 questions with fun facts appearing before each question.
                        </li>
                        <li>
                            Fun facts are based on information about Chrismas.
                        </li>
                        <li>
                            When the user choose an option answer for the question, the answer would be verified.
                        </li>
                        <li>
                            The user is given 3 guesses thoughout the game to use, when they run out, there would be no more and the next
                            question would automatically be appear without providing a second try.
                        </li>
                        <li>
                            For every correct answer the user user would get 1 point each.
                        </li>
                        <li>
                            At the end of 20 questions, the user name and score would be added on google sheets.
                        </li>
                        <li>
                            The final score would be displayed together with previous player and raked according to the score and time to
                            complete the game.
                        </li>
                    </ul>

                <h2 class="heading">Tips!</h2>
                    <p>
                        The player has to answer 20 questions by choosing one answer from an option of e options. The player is given 3 guesses throughout the whole game. The are fun facts about Chrismas thoughout the game, presented before each question and some provide hints for upcoming questions.
                    </p>
                            
                <div role="button" class="btn-small menu-btn" onclick="closeInfo()">Exit</div>
            </div>

        <!--Statistic button-->
        <div id="statsBtn" role="button" class="menu-btn" onclick="openStats()">Score Board</div>
            
            <!--Statistic window-->
            <div id="stats" class="btn-container">
                <h2 class="heading">Raking Statistics</h2>
                    <table id="stats-table">
                        <tr id="rows">
                            <th id="prank">Rank</th>
                            <th id="pname">Name</th>
                            <th id="pscore">Score</th>
                            <th id="pppecen">%</th>
                            <th id="ptime">Time</th>
                        </tr>
                        <tr id="newplayer">
                            <td id="rank"></td> 
                            <td id="name"></td>  
                            <td id="score"></td> 
                            <td id="%"></td> 
                            <td id="time"></td> 
                        </tr>
                    </table>        
                <div role="button" class="btn-small menu-btn" onclick="closeStats()">Exit</div>     
            </div>

        <!--Contact button-->
        <div id="contactBtn" role="button" class="menu-btn" onclick="openForm()">Contact Us</div>    
                
            <!--Contact window-->
            <div id="form" class="btn-container">
                <form>
                    <fieldset>
                        <legend>Contact us here</legend>
                            <label for="fname">First name:</label><br>
                                <input type="text" id="fname" name="fname" placeholder="John" required><br>
                            <label for="lname">Last name:</label><br>
                                <input type="text" id="lname" name="lname" placeholder="Smith" required><br>
                            <label for="email">Email:</label><br>
                                <input type="email" id="email" name="email" placeholder="email@example.ie" required><br>
                            <label for="message">Message:</label><br>
                                <input type="text" id="message" name="message" placeholder="Game Issues" required><br>
                            <textarea type="text" id="feedback" name="feedback" spellcheck="true" rows="5" cols="21" placeholder="Write your feedback..."></textarea><br><br>
                            
                            <button type="submit" id="submitForm" class="btn-small" value="Submit" onclick="alert('Thank you for your feedback.')" action="">Submit</button>
                    </fieldset>
                </form>

                <div role="button" class="btn-small menu-btn" onclick="closeForm()">Exit</div>         
            </div>   
    </div>

    <!--Game buttons-->
    <div id="gameBtn" role="button" class="menu-btn" onclick="openTerminalButtons()">Game</div>

        <!--Buttons window while game plays-->    
        <div id="terminalBtn" class="btn-container">
            <!--Start game button-->
            <button class="btn" type="button" onclick="window.location.reload()">Start Game!</button>
                
            <!--shows menu buttons-->
            <button class="btn" type="button" onclick="openMenuButtons()">Menu</button>
        </div>
         
    <!--Terminal-->
    <div id="terminal"></div>
    
    <!--JavaScript-->
    <script>
         function openMenuButtons() {
            document.getElementById("terminalBtn").style.display = "none";
            document.getElementsById("menuButtons").style.display = "block";
        }

        //Open and close the information window
        function openInfo() { 
            document.getElementById("infoBtn").style.display = "none";
            document.getElementById("info").style.display = "block";
        }

        function closeInfo() {
            document.getElementById("info").style.display = "none";
        }

        //Open and close the statistics window
        function openStats() { 
            document.getElementById("statsBtn").style.display = "none";
            document.getElementById("stats").style.display = "block";
        }

        function closeStats() {
            document.getElementById("stats").style.display = "none";
        }
        
        //Open and close the form window
        function openForm() { 
            document.getElementById("contactBtn").style.display = "none";
            document.getElementById("form").style.display = "block";
        }

        function closeForm() {
            document.getElementById("form").style.display = "none";
        }

        //Open and close the thank you window
         function openTerminalButtons() { 
            document.getElementById("gameBtn").style.display = "none";
            document.getElementById("terminalBtn").style.display = "block";
        }

        //Terminal settings 
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };

        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>